@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap')

*.navbody{ 
    margin:0;
    padding : 0;
    box-sizing :border-box;
    font-family:'poppins',sans-serif;
}
nav{
    display:flex;
    width: 100%;
    background: #0a5071;
    position:relative;
    justify-content:space-between;
    text-align:center;
    padding:10px 20px;
}
nav .icon{
    font-size: 35px;
    font-weight:800;
    color:#fff;
    cursor:pointer;
}
nav ol {
    display:flex;
    list-style:none;
    margin:auto 0;
}
nav ol li {
    margin : 0 4px;
}

nav ol li a{
    color:#fff;
    font-size:20px;
    text-decoration:none;
    text-transform:capitalize;
    letter-spacing:1px;
    padding:5px 10px;
    
}
nav ol li a:active {
  background-color: yellow;
}
nav ol li a:hover  {
    background:#fff;
    color:#0a5071;
}
nav .search_box{
    display:flex;
    margin:auto 0;
    height:35px;
    
    line-height:35px;
}
nav .search_box input{
    border:none;
    outline:none;
    background:#fff;
    height:100%;
    padding:0 10px;
    font-size: 20px;
    width:350px;
}
nav .search_box span{
    color:#0a5071;
    font-size:20px;
    background:#fff;
    height:53%;
    padding: 8px;
    position:relative;
    cursor:pointer;
    z-index:1;
}
nav .search_box span:hover {
    color:#fff;
}
nav .search_box span::after{
    height:100%;
    width:0%;
    content: '';
    background:#ff003c;
    position:absolute;
    top:0;
    right:0;
    z-index:-1;
    transition :0.3s;
}
nav .search_box span :hover ::after{
    width:100%;
}
nav .bar {
    position:relative ;
    margin:auto;
    }
@media screen and (max-width: 1450px){
      nav{
          display:block;
          padding:0;
          
      }
}
nav .icon{
    display:inline-block;
    padding:15px 30px;
}
nav .search_box{
    width: 100%;
    display:inline-flex;
    justify-content:center;
    margin-bottom:15px;
}
video {
   margin-top:20px;
   width :50%;
   height:40%;
}

/* Show book css */
body {
  background:#eef5ce none repeat scroll 0 0;
    color: #222;
    font-size: 100%;
    line-height: 24px;
    margin: 0;
	padding:0;
	font-family: "Raleway",sans-serif;
}

h1 {
  font-family: "Poppins";
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 100%;
  max-width: 100%;
}

.column img {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Tablet Styles */
@media only screen and (min-width: 480px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}


/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .column {
      flex: 33.3%;
      max-width: 33.3%;
    }
}

/* New from demo.css */

.rt-container {
	margin: 0 auto;
	padding-left:12px;
	padding-right:12px;
}
.rt-row:before, .rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}
[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}


@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }
  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }
  .col-rt-6, .col-rt-12 {
    width: 100%;
  }
  
}

@media (min-width: 1200px) {
	.rt-container {
		width: 1170px;
	}
	.col-rt-1 {
		width:16.6%;
	}
	.col-rt-2 {
		width:30.33%;
	}
	.col-rt-3 {
		width:50%;
	}
	.col-rt-4 {
		width: 67.664%;
	}
	.col-rt-5 {
		width: 83.33%;
	}
	

}

@media only screen and (min-width:240px) and (max-width: 768px){
	 .ScriptTop h1, .ScriptTop ul {
		text-align: center;
	}
	.ScriptTop h1{
		margin-top:0;
		margin-bottom:15px;
	}
	.ScriptTop ul{
		 margin-top:12px;		
	}
	
	.ScriptHeader h1,
	.ScriptHeader h2, 
	.scriptnav ul{
		text-align:center;	
	}
	.scriptnav ul{
		 margin-top:12px;		
	}
	#float-right{
		float:none;	
	}
	
}